<div style="margin-left: 3px">
  <div class="featureProperties">
    <div ng-show="!selectedFeature">
      点击地图中的元素，进入编辑状态
    </div>
    <div ng-show="selectedFeature">
      <button type="button" class="btn btn-default" id="saveEdit" ng-click="saveEdit()">
        <span class="glyphicon glyphicon-floppy-saved"></span>  保存
      </button>
      <button type="button" class="btn btn-default" style="float: right" ng-click="deleteFeature()">
        <span class="glyphicon glyphicon-trash"></span>  删除
      </button>
      <br>
      最近修改人： {{selectedFeature.user}}
      <br>
      最近修改时间：
      <br>
      <div id="featurePropsForm" ng-repeat="prop in selectedFeature.properties">
        <div class="input-group">
          <label class="input-group-addon propertyLabel" for="{{prop.key}}">{{prop.key}}</label>
          <input type="text" class="form-control" value="{{prop.value}}" id="{{prop.key}}" ng-model="prop.value" ng-change="propertyChanged()">
          <span class="input-group-btn">
            <button class="btn btn-default propertyRemoveBtn" type="button" ng-click="removeProperty($index)">-</button>
          </span>
        </div>
      </div>
      <div ng-class="{'hide': hideNewProperty}">
        <div class="input-group">
          <input id="newKey" type="text" class="form-control input-group-addon propertyLabel" ng-model="newKey" >
          <input id="newValue" type="text" class="form-control" ng-model="newValue" ng-keypress="newProperty($event)">
          <span class="input-group-btn">
            <button class="btn btn-default propertyRemoveBtn" type="button" ng-click="newProperty()">+</button>
          </span>
        </div>
      </div>
      <input type="button" class="btn btn-default" ng-click="addNewProperty($event)" value="增加属性">
      <div ng-hide="selectedFeature.properties.length">这个元素还没有任何属性.</div>
      <br>
      <select ng-model="$parent.selectedCategory" id="categorySelect" ng-change="selectPresets()">
        <option value="" disabled selected>选择一个类别</option>
        <option value="{{key}}" ng-repeat="(key, value) in categories">{{categories[key].name}}</option>
      </select>
      <br>
      <span ng-show="presets">
        <select id="presetSelect" ng-model="$parent.selectedPreset" ng-change="selectFields()">
          <option value="" disabled selected>选择一个子类</option>
          <option value="{{key}}" ng-repeat="(key, value) in presets">{{presets[key].name}}</option>
        </select>
        <br>
      </span>
    </div>
  </div>

  <div class="otherEditors" ng-show="editByUser.length > 0">
    <h4>当前协同编辑用户列表</h4>
    <div ng-repeat="editUser in editByUser">
      {{editUser}}
    </div>
  </div>
</div>
